In [2]:
import pandas as pd
import datetime as dt
from datetime import date,time

df = pd.read_csv('./villes_donnees.csv')

In [3]:
df['date'] = pd.to_datetime(df.date)
type(df['date'] )

pandas.core.series.Series

In [128]:

start_date = dt.datetime.combine(date(2021, 2, 8), time(0,0,0))
end_date   = dt.datetime.combine(date(2021, 2, 12), time(23,0,0))

after_start_date = df['date'] >= start_date
before_end_date = df['date'] <= end_date
between_two_dates = after_start_date & before_end_date
filtered_dates = df.loc[between_two_dates]

filtered_dates[filtered_dates.ville=='casa']

    ville                date  temperature  humidite  vitessevent
72   casa 2021-02-08 00:00:00    10.559119        86    16.039202
73   casa 2021-02-08 01:00:00    10.039120        90    17.317460
74   casa 2021-02-08 02:00:00     9.729119        91    18.391737
75   casa 2021-02-08 03:00:00     9.619120        91    19.513195
76   casa 2021-02-08 04:00:00     9.469119        93    21.889065
..    ...                 ...          ...       ...          ...
187  casa 2021-02-12 19:00:00    14.009120        92    20.421871
188  casa 2021-02-12 20:00:00    13.579120        94    19.171478
189  casa 2021-02-12 21:00:00    13.589120        94    18.584510
190  casa 2021-02-12 22:00:00    13.619120        95    18.398780
191  casa 2021-02-12 23:00:00    13.259120        95    17.873556

[120 rows x 5 columns]

In [130]:

dateDefaut = (date(2021, 2, 8), date(2021, 2, 12))
print(type(dateDefaut[1]))

<class 'datetime.date'>

In [89]:
x = dt.datetime(2020, 5, 17,,0,0)

print(x)

2021-02-08

In [4]:

dateDefaut = (date(2021, 2, 8), date(2021, 2, 12))
t=(str(dt.datetime.combine(dateDefaut[0], time(0,0,0))),str(dt.datetime.combine(dateDefaut[1], time(23,0,0))))
t

('2021-02-08 00:00:00', '2021-02-12 23:00:00')

In [11]:
d=dt.datetime.strptime(t[1], '%Y-%m-%d %H:%M:%S')
print(type(d))

<class 'datetime.datetime'>